[Unit]
Description=Python utilities supervisor daemon

[Service]
ExecStart=/usr/bin/python3 -m pud
Restart=always
RestartSec=10s
StartLimitIntervalSec=0
StartLimitBurst=0
User=daemon
Group=dialout

[Install]
WantedBy=multi-user.target
