Source: pud
Section: main
Priority: optional
Maintainer: Viacheslav Chimishuk <vchimishuk@yandex.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: https://github.com/vchimishuk/pud

Package: pud
Architecture: all
Depends: python3-croniter
Suggests: python3-psutil, python-pyrite, python3-transmission-rpc, pzem, python3-geoip2, geolite2-city, python3-psycopg2
Description: Python utilities supervisor daemon
