Source: pud
Section: main
Priority: optional
Maintainer: Viacheslav Chimishuk <vchimishuk@yandex.ru>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: https://github.com/vchimishuk/pud

Package: pud
Architecture: all
Depends: python3-croniter, python-pygraphite
Description: Python utilities supervisor daemon
