module = "peerstats"
transmission.host = "localhost"
transmission.port = 9091
clickhouse.host="localhost"
clickhouse.port=9000
clickhouse.db="peerstats"
geolite.file="/var/lib/geolite2-city/GeoLite2-City.mmdb"
